<!DOCTYPE html>
<html>
<head>
	<title>Angular.js Tutorial</title>
	<!-- load angular from cdn -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<!-- import myApp.js as application -->
	<script type="text/javascript" src="myApp.js"></script>

</head>
<!-- use data-ng instead of ng- to make it HTML5 valid -->
<body>
	<div data-ng-app="myApp">
	<!-- basics -->
		<!-- create a model named "name" -->
		<p>Name: <input type="text" data-ng-model="name"></p>

		<!-- binds "name" model to this p displays -->
		<p>From input: <span data-ng-bind="name"></span></p>

		<!-- init firstName variable -->

		<div data-ng-init="firstName='Mike'">
			<!-- bind firstName to the span -->
			<!-- this firstName will not bind to the variables inside the personController because it is out of scope of personController-->
			<p>From init firstName: <span ng-bind="firstName"></span></p>

		</div>

		<!-- expressions -->
			<div>
				<p>5 + 5 = {{5+5}}</p>
			</div>

	<!-- controllers -->
		<!-- import controller, should be done in head but keep here for example -->
		<script type="text/javascript" src="personController.js"></script>
		<!-- declare personController as the controller for this div  -->
		<div data-ng-controller="personController">
			<!-- display firstName and lastName from personController, this is not bound to the firstName variable above, it is out of personController's scope-->
			<p>personController.firstName: {{firstName}}</p>
			<p>personController.lastName: {{lastName}}</p>

			<!-- use method in personController to display full name -->

			<p>fullName method: {{fullName()}}</p>

			<h3>names array</h3>
			<!-- use ng-repeat directive to display the names and countries in the "names" array -->
			<p data-ng-repeat="x in names">{{x.name + ', ' +x.country}}</p>

			<h3>Angular filters</h3>
				<h4>orderBy country</h4>
					<ul>
					<!-- for each x in names array, display the names ordred by country -->
						<li data-ng-repeat="x in names | orderBy: 'country'">
							{{x.name + ', ' + x.country}}
						</li>
					</ul>
				<h4>orderBy country, filter by user input</h4>
					usrInput: <input type="text" data-ng-model="usrInput">
					<ul>
					<!-- for each x in names array, display the names ordred by country -->
						<li data-ng-repeat="x in names | filter:usrInput |orderBy: 'country'">
							{{x.name + ', ' + x.country}}
						</li>
					</ul>
		</div>
		<!--end personController scope  -->

		<!-- import customerController.js -->
		<script type="text/javascript" src="customersController.js"></script>
		<!-- set the scope of customerController to this div -->
		<div data-ng-controller="customersController">
			<!-- file at http://www.w3schools.com/website/Customers_JSON.php -->
			<h3>Names and countries from static JSON file</h3>
			<ul>
				<li data-ng-repeat="x in names">
				<!-- x is an entry, with Name and Country properties -->
					{{x.Name +', ' + x.Country}} 
				</li>
			</ul>
		</div>
		<!-- end customerController scope -->

		<!-- ng-disabled directive -->
		<h3>ng-disabled Directive</h3>
			<button data-ng-disabled="disableSwitch">Click me</button>
			</br>
			<input type="checkbox" data-ng-model="disableSwitch"> Disable click me button
		
		<h3>ng-show directive with logic</h3>

			Number Picker 
			<select data-ng-model="numberPicker">
				<option value="1" selected="selected">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
			<p data-ng-show="numberPicker >=3">Number picked is >= 3 </p>
			<p data-ng-show="numberPicker <3">Number picked is < 3 </p>

	</div>
</body>
</html>