<!DOCTYPE html>
<html>
<head>
	<title>Angular.js Tutorial</title>
	<!-- load angular from cdn -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<!-- use data-ng instead of ng- to make it HTML5 valid -->
<body>
	<div data-ng-app="myApp">
	<!-- basics -->
		<!-- create a model named "name" -->
		<p>Name: <input type="text" data-ng-model="name"></p>

		<!-- binds "name" model to this p displays -->
		<p data-ng-bind="name"></p>

		<!-- init firstName variable -->

		<div data-ng-init="firstName='Mike'">
			<!-- bind firstName to the span -->
			<!-- this firstName will not bind to the variables inside the personController because it is out of scope of personController-->
			<p>The name is <span ng-bind="firstName"></span></p>

		</div>

		<!-- expressions -->
			<div>
				<p>5 + 5 = {{5+5}}</p>
			</div>

	<!-- controllers -->
		<!-- import controller -->
		<script type="text/javascript" src="personController.js"></script>
		<!-- declare personController as the controller for this div  -->
		<div data-ng-controller="personController">
			<!-- display firstName and lastName from personController, this is not bound to the firstName variable above, it is out of personController's scope-->
			<p>personController.firstName: {{firstName}}</p>
			<p>personController.lastName: {{lastName}}</p>

			<!-- use method in personController to display full name -->

			<p>fullName method: {{fullName()}}</p>

			<h3>names array</h3>
			<p data-ng-repeat="x in names">{{x.name + ', ' +x.country}}</p>
		</div>

	</div>
</body>
</html>